@charset "UTF-8";

/* Custom card colors */
/* Use with `class:` property of services in config.yml */
body #app .card.green {
  background-color: #006600;
  color: #00ff00;
}

#app .navbar .container,
#app .navbar-menu.is-active .container {
    max-width: 60% !important;
    width: 60% !important;
}

#app header .container,
#app .header .container {
    max-width: 60% !important;
    width: 60% !important;
}

#app .search-bar-container .container,
#app .search-bar {
    max-width: 60% !important;
    width: 60% !important;
}

#main-section .container {
    max-width: 80% !important;
    width: 80% !important;
}

