@charset "UTF-8";

/* Custom card colors */
/* Use with `class:` property of services in config.yml */
body #app .card.green {
  background-color: #006600;
  color: #00ff00;
}

#app .header, 
#app .navbar, 
#app .search-bar-container, 
#main-section {
    width: 100% !important;
    max-width: 100% !important;
}

#app .header .container,
#app .navbar .container,
#app .search-bar,
#main-section .container {
    width: 80% !important;
    max-width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex !important; 
    justify-content: flex-start !important;
    align-items: center !important;
}

#app .header .container {
    height: 60px; 
}
