@charset "UTF-8";

/* Custom card colors */
/* Use with `class:` property of services in config.yml */
body #app .card.green {
  background-color: #006600;
  color: #00ff00;
}

#app .navbar > .container {
    max-width: 70% !important;
    width: 70% !important;
}

#main-section > .container {
    max-width: 70% !important;
    width: 70% !important;
}

.search-bar {
    max-width: 1000px !important; 
    margin-left: auto;
    margin-right: auto;
}
