@charset "UTF-8";

/* Custom card colors */
/* Use with `class:` property of services in config.yml */
body #app .card.green {
  background-color: #006600;
  color: #00ff00;
}

#app .navbar .container,
#app .navbar-menu.is-active .container {
    max-width: 60% !important;
    width: 60% !important;
}

#app .header, 
#app .header .container, 
#app .header-content {
    max-width: 60% !important; 
    width: 60% !important;
    margin: 0 auto !important;
    display: block !important;
}
#app .header .container {
    display: flex !important;
    justify-content: flex-start !important; /* 让 Logo 靠左 */
    align-items: center;
}

#app .search-bar-container .container,
#app .search-bar {
    max-width: 60% !important;
    width: 60% !important;
}

#main-section .container {
    max-width: 60% !important;
    width: 60% !important;
}

